@media screen and (max-width:1080px)
{
    .badan-artikel {
        width: 280px;
    }
 
    .kolom-kiri {
        width: 238px;
    }
    
    .kolom-tengah, .kolom-kanan
    {
        width: 260px;
    }
}