@media screen and (max-width:1080px)
{
    .badan-artikel {
        width: 380px;
    }
 
    .kolom-kiri {
        width: 338px;
    }
    
    .kolom-tengah, .kolom-kanan
    {
        width: 360px;
    }
}